//variáveis
$padrao: #7159c1;
$white: #fff;
$black: #000;
$dark: rgb(22, 21, 21);
$azul: rgb(57, 72, 209);
$verde: rgb(31, 66, 47);
$vermelho: rgb(196, 40, 40);

body{
    background-color: $padrao;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}   
a{
    text-decoration: none;
}

.player{
    .card{
        margin: 0 auto;
        width: 25rem;
        max-width: 90%;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);

        #titulo{
            background-color: $white;
            text-align: center;
            color: $padrao;
        } 
        
        .imagem{
            border-radius: 0 !important;           
            width: 100%;
        }

        audio{
            width: 100%;
            background-color: $white !important;
        }

        .config{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
    }  
}
.btn-temas{
    display: flex;
    align-items: center;
    justify-content: center;
}
// o mixin botao recebe o background, a cor do texto e o nome do botão e altera seu estilo
@mixin botao ($back, $color, $botao){
    .btn-#{$botao}{
        background-color: $back;
        color: $color;
    }
    .btn-#{$botao}:hover{
        color: $back;
        background-color: transparent;
        border-color: $back;
    }   
}

// botao player padrao
@include botao($padrao, $white, player);
// botao dark
@include botao($dark, $white, dark);
// botao azul
@include botao($azul, $white, azul);
// botao verde
@include botao($verde, $white, verde);
// botao vermelho
@include botao($vermelho, $white, vermelho);

// temas
@mixin tema ($nome_cor, $cor){
    //background
    .#{$nome_cor}-back{
        background-color: $cor !important;
        transition: 1s;
    }
    // texto
    .#{$nome_cor}-texto{
        color: $cor !important;
        transition: 1s;
    }
    // btn hover
    .#{$nome_cor}-bh:hover{
        background-color: transparent !important;
        color: $cor;
        transition: 1s;
    }
}
// tema padrão
@include tema(padrao, $padrao);
// tema dark
@include tema(dark, $dark);
// tema blue
@include tema(azul, $azul);
// tema green
@include tema(verde, $verde);
// tema vermelha
@include tema(vermelho, $vermelho);








