//variáveis
$back: #7159c1;
$white: #fff;


body{
    background-color: $back;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}   
a{
    text-decoration: none;
}
.player{
    .card{
        margin: 0 auto;
        width: 25rem;
        max-width: 90%;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);

        #titulo{
            background-color: $white;
            text-align: center;
            color: $back;
        } 
        
        .imagem{
            border-radius: 0 !important;
            width: 100%;
            //background: url("https://placehold.it/500") no-repeat center center / cover;
            //height: 250px;
        }

        audio{
            width: 100%;
            background-color: $white !important;
        }
        
    }
    
    
}
