body {
  background-color: #7159c1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

a {
  text-decoration: none; }

.player #titulo {
  background-color: #fff;
  text-align: center;
  color: #7159c1; }

.player .card {
  width: 30rem;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12); }
  .player .card .imagem {
    border-radius: 0 !important;
    width: 100%; }
  .player .card audio {
    width: 100%;
    background-color: #fff !important; }
