body {
  background-color: #7159c1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

a {
  text-decoration: none; }

.player .card {
  margin: 0 auto;
  width: 25rem;
  max-width: 90%;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12); }
  .player .card #titulo {
    background-color: #fff;
    text-align: center;
    color: #7159c1; }
  .player .card .imagem {
    border-radius: 0 !important;
    width: 100%; }
  .player .card audio {
    width: 100%;
    background-color: #fff !important; }

.muda-back {
  background-color: #000 !important;
  transition: 1s !important; }

.muda-texto {
  color: #000 !important;
  transition: 1s !important; }
